flows.json
[
    {
        "id": "88c1999468441eee",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93bd538509c7c872",
        "type": "mqtt in",
        "z": "88c1999468441eee",
        "name": "",
        "topic": "cancela/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "66e4cc055fbf9975",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "a7fc97d4fa8eb318",
                "b5db5f67f738e9d6"
            ]
        ]
    },
    {
        "id": "1a4be708b6825c73",
        "type": "inject",
        "z": "88c1999468441eee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "6b657465603f7246"
            ]
        ]
    },
    {
        "id": "6b657465603f7246",
        "type": "mqtt out",
        "z": "88c1999468441eee",
        "name": "",
        "topic": "cancela/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66e4cc055fbf9975",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "a7fc97d4fa8eb318",
        "type": "debug",
        "z": "88c1999468441eee",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "c95f5e01d21d3ac8",
        "type": "mongodb4",
        "z": "88c1999468441eee",
        "clientNode": "08a0bec86b3eb47c",
        "mode": "collection",
        "collection": "historico",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1080,
        "y": 480,
        "wires": [
            [
                "8b29cd2a1381ce86"
            ]
        ]
    },
    {
        "id": "b5db5f67f738e9d6",
        "type": "function",
        "z": "88c1999468441eee",
        "name": "function 1",
        "func": "\nvar agora = new Date();\n\nmsg.payload = {\n    evento: msg.payload,\n    data: agora,\n    hora: agora.getHours(),\n    dispositivo: \"ESP32_Cancela_Zapella\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 480,
        "wires": [
            [
                "96f824a3659d81f2"
            ]
        ]
    },
    {
        "id": "96f824a3659d81f2",
        "type": "delay",
        "z": "88c1999468441eee",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 480,
        "wires": [
            [
                "c95f5e01d21d3ac8"
            ]
        ]
    },
    {
        "id": "66bec318e8b41b85",
        "type": "catch",
        "z": "88c1999468441eee",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "a77b2bcc7a866618"
            ]
        ]
    },
    {
        "id": "a77b2bcc7a866618",
        "type": "debug",
        "z": "88c1999468441eee",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 620,
        "wires": []
    },
    {
        "id": "2d35550dcdf258af",
        "type": "status",
        "z": "88c1999468441eee",
        "name": "",
        "scope": null,
        "x": 860,
        "y": 320,
        "wires": [
            [
                "a7fc97d4fa8eb318"
            ]
        ]
    },
    {
        "id": "8b29cd2a1381ce86",
        "type": "debug",
        "z": "88c1999468441eee",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 480,
        "wires": []
    },
    {
        "id": "66e4cc055fbf9975",
        "type": "mqtt-broker",
        "name": "cancela",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "08a0bec86b3eb47c",
        "type": "mongodb4-client",
        "name": "Atlas_Nuvem",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "cancela_db",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://viniciuszapella_db_user:VDCkhL8dliaUVFR9@cluster0.vcouow0.mongodb.net/?appName=Cluster0",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    }
]